@use "../../../styles/mixins.scss" as m;
:host {
  display: block;
  .upload-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .profile-input {
      margin-top: 32px;
      background-color: white;
      height: 48px;
      padding: 6px;
      border-radius: 6px;
      border: 2px solid var(--goodreads-text-brown);
      @include m.responsive(phone) {
        margin-top: 16px;
      }
    }
    .upload-button {
      color: white;
      background-color: var(--goodreads-text-brown);
      padding: 16px;
      margin-top: 32px;
      border-radius: 6px;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      @include m.responsive(phone) {
        margin-top: 16px;
      }
    }
    .hidden-file-input {
      display: none;
    }
  }
}
