:root {
  // colors
  --goodreads-bg-light: rgba(244,241,234,0.5);
  --goodreads-text-brown: #372213;
  --goodreads-light-grey: #D8D8D8;

  // breakpoints
  --phone-width: 453px;
  --tablet-width: 768px;
}