<article class="gr-wrapped-home-container">
  <section class="logo">
    <div class="logo-text">
      <div class="logo-text-inline">
        <h1 class="logo-bold">Good</h1>
        <h1 class="logo-thin">reads</h1>
      </div>
      <div class="logo-text-inline">Wrapped</div>
    </div>
  </section>
  <section class="how-to-use-container">
    <div class="how-to-use-header">
      <h2 class="title-md">How to use</h2>
    </div>
    <ol class="usage-instructions">
      <li class="instruction">Export your Goodreads Library</li>
      <ul class="instruction-breakdown">
        <li class="sub-instruction">
          Follow
          <a class="link-text" href="https://www.goodreads.com/review/import"
            >this link </a
          >to take you to the export page
        </li>
        <li class="sub-instruction">Click the 'Export Library' button</li>
        <li class="sub-instruction">Wait for the library export to generate</li>
        <li class="sub-instruction">
          Click on the generated export to download it
        </li>
      </ul>
      <li>Import your Goodreads Library using the import button below!</li>
      <ul class="instruction-breakdown">
        <li class="sub-instruction">
          Clicking the upload button will allow you to select the file you
          exported from Goodreads
        </li>
        <li class="sub-instrcution">
          You can optionally provide an name/screen name
        </li>
      </ul>
    </ol>
  </section>
  <grw-upload-gr-data></grw-upload-gr-data>
</article>
<section class="bottom-bar">
  <span class="bar-text">
    Made with 🤎 by
    <a class="bar-link" href="https://github.com/olivermchale/gr-wrapped"
      >Hailzy</a
    >
    <span class="bar-text-secondary"> Not an official Goodreads product </span>
  </span>
</section>
