@use "styles/variables";
@use "styles/framework";
@use "styles/scrollbar";
body {
  margin: 0px;
  background-color: var(--goodreads-bg-light);
  * {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  }
}
