@use "../../../styles/mixins.scss" as m;
.gr-wrapped-home-container {
  @include m.responsive(phone) {
    height: calc(100vh - 66px);
  }

  overflow: auto;
  .logo {
    padding: 2% 5% 2% 5%;
    .logo-text {
      font-size: 72px;
      color: var(--goodreads-text-brown);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include m.responsive(phone) {
        font-size: 48px;
      }
      .logo-text-inline {
        display: inline-flex;
        letter-spacing: -3px;
        .logo-bold {
          font-weight: bold;
        }
        .logo-thin {
          font-weight: 200;
        }
      }
    }
  }
  .how-to-use-container {
    display: flex;
    color: var(--goodreads-text-brown);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    .how-to-use-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .usage-instructions {
      padding: 24px;
      .instruction {
        padding: 5px;
      }
      .instruction-breakdown {
        padding: 12px 30px;
        .sub-instruction {
          margin-top: 5px;
        }
      }
    }
  }
}
